<body>
  <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <a class="nav-brand" href="/">Take me back</a>
    
     <% if(flash && flash.err) { %>
     <ul class="alert alert-success">
     <% Object.keys(flash.err).forEach(function(error) { %>
     <li><%- JSON.stringify(flash.err[error]) %></li>
     <% }) %>
     </ul>
     <% } %>
    
    <div class="row m-n">
      <div class="col-md-4 col-md-offset-4 m-t-lg">
        <section class="panel">
          <header class="panel-heading text-center">
            Sign in
          </header>
          <form action="/session/create" method="POST" class="panel-body form-signin">
            <div class="form-group">
              <label class="control-label">Email</label>
              <input type="text" class="form-control" placeholder="Email address" name="email">
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
               <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Keep me logged in
              </label>
            </div>
            <a href="#" class="pull-right m-t-xs"><small>Forgot password?</small></a>
            
            <button type="submit" class="btn btn-info">Sign in</button>

            <input type="hidden" name="_csrf" value="<%= _csrf %>" />


            <div class="line line-dashed"></div>
            <a href="#" class="btn btn-facebook btn-block m-b-sm"><i class="fa fa-facebook pull-left"></i>Sign in with Facebook</a>
            <a href="#" class="btn btn-twitter btn-block"><i class="fa fa-twitter pull-left"></i>Sign in with Twitter</a>
            <div class="line line-dashed"></div>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a href="/user/new/" class="btn btn-white btn-block">Create an account</a>
          
          </form>
        </section>
      </div>
    </div>
  </section>
  <!-- footer
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>footer<br>&copy; 2013</small>
      </p>
    </div>
  </footer>
  <!-- / footer --> 

<!-- 
  <form action="/session/create" method="POST" class="form-signin">
        <h2 class="form-signin-heading">Please sign in...</h2>

        <% if(flash && flash.err) { %>
                <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error) { %>
                <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
        </ul>
        <% } %>

        <input type="text" class="form-control" placeholder="Email address" name="email">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign-in"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        
</form> -->
