<body>
  <section id="content" class="m-t-lg wrapper-md animated fadeInDown">
    <a class="nav-brand" href="/">Take me back</a>
    <div class="row m-n">
      <div class="col-md-4 col-md-offset-4 m-t-lg">
        <section class="panel">
          <header class="panel-heading bg bg-primary text-center">
            Sign up
          </header>
          
          <% if(flash && flash.err) { %>
            <ul class="alert alert-danger">
          <% Object.keys(flash.err).forEach(function(error) { %>
            <li><%= JSON.stringify(flash.err[error]) %></li>
          <% }) %> 
            </ul>
          <% } %> 

          <form action="/user/create" method="POST" class="signup-form panel-body">
            <div class="form-group">

              <!--label class="control-label">Display name</label-->
              <input type="text" placeholder="Name or company" class="form-control" name="name">

            </div>
            <div class="form-group">

              <!--label class="control-label">Your email address</label-->
              <input type="email" placeholder="Email address" class="form-control" name="email">

            </div>
            <div class="form-group">

              <!--label class="control-label">Type a password</label-->
              <input type="password" id="inputPassword" placeholder="Password" class="form-control" name="password">
            </div>

            <div class="form-group">
              <!--label class="control-label">Password Confirmation</label-->
              <input type="password" id="confirmPassword" placeholder="Confirm password" class="form-control" name="confirmation">

            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Agree the <a href="#">terms and policy</a>
              </label>
            </div>
            <button type="submit" class="btn btn-info">Sign up</button>
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <div class="line line-dashed"></div>
            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a href="/session/new/" class="btn btn-white btn-block">Sign in</a>

          </form>
        </section>
      </div>
    </div>
  </section>
  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>footer<br>&copy; 2014</small>
      </p>
    </div>
  </footer>